.new-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;

}

.new-collection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}

.new-collection hr {
    width: 200px;
    min-height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}


@media(max-width:1280px) {


    .collections h1 {
        font-size: 40px;
    }

    .collections hr {
        width: 160px;
        min-height: 4px;
    }

    .collections {
        margin-top: 30px;
    }

}

@media(max-width:1024px) {


    .new-collection h1 {
        font-size: 30px;
    }

    .new-collection hr {
        width: 120px;
        min-height: 3px;
    }

    .collections {
        margin-top: 20px;
    }

}

@media(max-width:800px) {
    .new-collection {

        gap: 6px;
    }

    .new-collection h1 {
        font-size: 20px;
    }

    .new-collection hr {
        width: 100px;
        min-height: 3px;
    }

}

@media(max-width:640px) {
    .collections {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:500px) {
    .collections {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}