.offers{
    width: 80%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 10px 10px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%, #e1ffea22 60%);
}
.offer-left{
    padding:10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer-left h1{
   color: #171717;
   font-size: 70px;
   font-weight: 600; 
}
.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offer-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
@media(max-width:1280px){
     .offers{
         padding: 0px 80px;
         margin-bottom: 120px;
     }
     .offer-left h1{
         font-size: 40px;

     }
     .offer-left p{
         font-size: 18px;
     }
     .offer-right img{
         width: 300px;
     }
     .offer-left button{
         width: 220px;
         height: 50px;
         font-size: 18px;
     }
     .offer-right{
         padding-top: 38px;
     }
}

@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offer-left h1{
        font-size: 30px;

    }
    .offer-left p{
        font-size: 16px;
    }
    .offer-right img{
        width: 200px;
    }
    .offer-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offer-right{
        padding-top: 10px;
    }
}

@media(max-width:800px){
    .offers{
        
        margin-bottom: 68px;
      
    }
    .offer-left h1{
        font-size: 22px;

    }
    .offer-left p{
        font-size: 13px;
    }
    .offer-right img{
        width: 180px;
    }
    .offer-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
    
}

@media(max-width:500px){
    .offers{
        height: 25vh;
        margin-bottom: 50px; 
    }
    .offer-left h1{
        font-size: 16px;

    }
    .offer-left p{
        font-size: 10px;
    }
    .offer-right img{
        width: 120px;
    }
    .offer-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
    
}